<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.in.prodigyschool.passiton">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_booksyndy_logo_smallc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_booksyndy_logo_smallc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfileActivity"/>
        <activity android:name=".GetBookSellerLocationActivity" />

        <service
            android:name=".GetAddressIntentService"
            android:exported="false" />

        <activity android:name=".GetBookPictureActivity" />
        <activity
            android:name=".GetBookPriceActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".GetBookDegreeActivity" />
        <activity android:name=".GetBookBoardActivity" />
        <activity
            android:name=".GetBookDescriptionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".GetBookClassActivity" />
        <activity
            android:name=".GetBookNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".StartCreateBookListingActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GetCollegeSpecificsActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".GetJoinPurposeActivity" />
        <activity android:name=".GetBoardActivity" />
        <activity android:name=".GetGradeActivity" />
        <activity android:name=".CustNameActivity" />
        <activity android:name=".ParOrStudActivity" />
        <activity android:name=".EnterOTPActivity" />
        <activity
            android:name=".SignInActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>