<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.booksyndy.academics.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_booksyndy_logo_hs"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_booksyndy_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.booksyndy.academics.android.RequestDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.EditListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.RequestBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.SendFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.booksyndy.academics.android.util.GalleryUtil" />
        <activity
            android:name="com.booksyndy.academics.android.ViewUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.CreateListingActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.booksyndy.academics.android.ViewPictureActivity" />
        <activity
            android:name="com.booksyndy.academics.android.CollegeFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.ConfirmListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.GetCollegeBranchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.booksyndy.academics.android.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.booksyndy.academics.android.BookDetailsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.booksyndy.academics.android.GetFeedbackActivity" />
        <activity android:name="com.booksyndy.academics.android.EnterLocationManuallyActivity" />
        <activity
            android:name="com.booksyndy.academics.android.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookSellerLocationActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.booksyndy.academics.android.GetAddressIntentService"
            android:exported="false" />

        <activity android:name="com.booksyndy.academics.android.GetBookPictureActivity" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookPriceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookDegreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookDescriptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.booksyndy.academics.android.GetBookMaterialTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.booksyndy.academics.android.GetCollegeSpecificsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.booksyndy.academics.android.GetJoinPurposeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.GetBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.GetGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.booksyndy.academics.android.CustNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.booksyndy.academics.android.ParOrStudActivity" />
        <activity
            android:name="com.booksyndy.academics.android.EnterOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.booksyndy.academics.android.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.booksyndy.academics.android.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="booksyndy.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name="com.booksyndy.academics.android.notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.booksyndy.academics.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_booksyndy_logo_square" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>