<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.booksyndy.academics.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_booksyndy_logo_hs"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_booksyndy_circle_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".DonationDetailsAcceptActivity"></activity>
        <activity android:name=".StopVolunteeringActivity" />
        <activity android:name=".LogBookCollectionActivity" />
        <activity android:name=".VolunteerDashboardActivity" />
        <activity android:name=".ConfirmVolunteeringSignUpActivity" />
        <activity android:name=".GetVolunteerAddressActivity" />
        <activity android:name=".VolunteerWelcomeActivity" />
        <activity android:name=".GetVolunteerDetailsActivity" />
        <activity
            android:name=".MyDonationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MyDonationsActivity" />
        <activity android:name=".GetDonorAddressActivity" />
        <activity android:name=".CreateBundleListingActivity" />
        <activity android:name=".GetModeActivity" />
        <activity android:name=".SignUpQuestionsActivity" />
        <activity android:name=".CreateGeneralListingActivity" />
        <activity android:name=".SignIn2Activity" />
        <activity
            android:name=".RequestDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateListingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ViewPictureActivity" />
        <activity
            android:name=".CollegeFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetBookSellerLocationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GetBookPictureActivity" />
        <activity
            android:name=".GetBookPriceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GetBookDegreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetBookBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetBookDescriptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GetBookClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetBookNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GetBookMaterialTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetCollegeSpecificsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GetJoinPurposeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ParOrStudActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="booksyndy.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.booksyndy.academics.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>